@use "./styles/variables";

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

button {
    background-color: white; /* Ändra till variabel? */
    border: none;
    border-radius: .5em;
    color: black; /* Ändra till variabel? */
    cursor: pointer;
    font-size: 1em;
    padding: .6em 1em;
    transition: all 200ms ease-in-out;
    &:hover {
        background-color: black;
        color: white;
    }
}

#app {
	/* Globala regler för hela branchen */
}
